header {
    height: 100vh;
    padding-top: 1rem;
    overflow: hidden;

}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}
/* img {
    border-radius: 20px;
    
} */

/* ---------- CTA------------*/

.cta {
    margin-top: 2.5rem;
    flex-direction: flex;
    gap: 1.2rem;
    justify-content: center;
}


/* ---------- SOCIALS -------------*/

.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 13rem;
    bottom: 3rem;

}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);

}


/* ------------IMAGE -------------*/

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 17rem;
    height: 17rem;
    position: absolute;
    left: 50%;
    transform: translate(-45%);
    margin-top: 3rem;
    /* overflow: hidden; */
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    margin-bottom: 1rem;
   border-radius: 20px;
}


/* --------SCROLL DOWN -------------*/



/* ------------MEDIA QUERIES MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
    /* .container {
        background: rgb(67, 80, 100);
    } */
    header {
        height: 68vh;
    }
}


/* ------------MEDIA QUERIES small DEVICES */
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
    .me {
        /* Adjust the positioning and maybe other properties for the image */
        left: 50%;
        transform: translate(-50%, 0); /* Center the image horizontally */
        margin-top: 2rem; /* Adjust as needed */
        margin-bottom: 1.5rem; /* Space between the image and the socials, adjust as needed */
    }
    .header_socials {
        display: flex;
        flex-direction: row; /* Making it row on small screens */
        justify-content: center; /* Center the social icons horizontally */
        position: static; /* Removing absolute positioning */
        gap: 0.8rem; /* Adjust spacing between icons as needed */
    }
    .header_socials::after {
        display: none; /* Removing the vertical line since it's now a row */
    }
    .scroll_down {
        display: none;
    }
}